*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100vh;
    background-image: url("./src/desktop/img1.png");
    background-position: center;
    background-size: cover;
    transition: background-size 800ms;
}
#header{
    display: flex;
    padding: 24px 64px;
    justify-content: space-between;
}
span{
    color: white;
    font-weight: 600;
}
#footer{
    position: absolute;
    width: 100%;
    height: 25vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 800ms;
}
#button, #button2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
i{
    color: white;
    font-size: 24px;
}
#photos{
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}
#pic1, #pic2, #pic3, #pic4, #pic5, #pic6{
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: transform 800ms, filter 250ms;
}
#pic1{
    background-image: url("./src/desktop/img1.png");
}
#pic2{
    background-image: url("./src/desktop/img2.png");
}
#pic3{
    background-image: url("./src/desktop/img3.png");
}
#pic4{
    background-image: url("./src/desktop/img4.png");
}
#pic5{
    background-image: url("./src/desktop/img5.png");
}
#pic6{
    background-image: url("./src/desktop/img6.png");
}
#pic1:hover, #pic2:hover, #pic3:hover, #pic4:hover, #pic5:hover, #pic6:hover{
    transform: scale(115%) translateY(-5%);
    z-index: 1;
}
#pic1:active, #pic2:active, #pic3:active, #pic4:active, #pic5:active, #pic6:active{
    filter: invert(100%);
}
.invisible{
    font-size: 0;
    visibility: hidden;
}
#back-drawer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
#drawer{
    position: absolute;
    right: 0;
    top: 0;
    width: 22%;
    height: 100vh;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, .6);
    transform: translateX(100%);
    transition: transform 800ms;
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}
#drawer span{
    text-align: center;
}
#column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}
@media (max-width: 800px) {
    #header{
        padding: 24px 40px;
    }
    #photos{
        grid-template-columns: repeat(4, 1fr);
    }
    #footer{
        position: fixed;
        height: 30vh;
    }
    #pic5, #pic6{
        display: none;
    }
    #drawer{
        position: fixed;
        width: 80%;
    }
    #pic1:hover, #pic2:hover, #pic3:hover, #pic4:hover, #pic5:hover, #pic6:hover{
        transform: none;
        z-index: 1;
    }
}